# Files and Directories to Ignore


# Directories
bin/
branches/
compiler_compat
condabin/
conda-meta/
conf/
compiler_compat/
data/input/PRJNA766694
data/output/
data/samples/
data/scratch/
doc/
etc/
finished_slurm_jobs/
fonts/
hooks/
include/
info/
jmods/
legal/
lib/
libexec/
man/
mkspecs/
objects/
opt/
phrasebooks/
plugins/
qml/
qsci/
refs/
resources/
rules/
sbin/
share/
shell/
.snakemake/
ssl/
translations/
troubleshooting/
var/
x86_64-conda_cos6-linux-gnu/
x86_64-conda-linux-gnu/

# Files and Filetypes
config
dag.*
*.log
*.fasta
*.bam
*.fa
